.row
    .col-12.d-flex.justify-content-center.gap-5.py-3
        a(class="btn btn-success" href="/users/list-users") Danh sách người dùng
        a(class="btn btn-success" href="/users/friends") Danh sách bạn bè
        a(class="btn btn-success" href="/users/requests") Lời mời đã gửi
        a(class="btn btn-success" href="/users/accepts") Lời mời kết bạn