.body {
    display: flex;
    height: 900px;
}
.header  {
    background: yellow;
}
.inner-logo {
    padding: 20px;
}

.sider {
    width: 250px;
    height: 100%;
    display: block;
    background-color: rgb(250, 215, 215);
}

.main {
    width: 100%;
}
.inner-menu ul{
    list-style: none;
    padding: 0;
    flex: 1;
}

.inner-menu ul li {
    flex: 1;
    border: 1px solid #333;
    margin-bottom: 5px;
}

.inner-menu ul li a{
    color: whi;
    text-decoration: none;

}

[show-alert] {
    position: fixed;
    right: 0;
    top: 68px;
    z-index: 1;
}
[show-alert].hidden {
    display: none;
}

.button-close {
    color: rgb(0, 0, 0);
    background-color: transparent;
    outline: none;
    border: 0;
    font-weight: 600;
}

.img-thumbnail[src = ''] {
    display: none;
}

.img-thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/*Sider menu drop down*/
.dropbtn {
    color: black;
    border: none;
    background-color: rgb(250, 215, 215);
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  