/*Chat*/
.chat-search-box {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
  padding: 0.75rem 1rem;
}

.chat-search-box .input-group .form-control {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  border-right: 0;
}

.chat-search-box .input-group .form-control:focus {
  border-right: 0;
}

.chat-search-box .input-group .input-group-btn .btn {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  margin: 0;
}

.chat-search-box .input-group .input-group-btn .btn i {
  font-size: 1.2rem;
  line-height: 100%;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .chat-search-box {
    display: none;
  }
}

.users-container {
  position: relative;
  padding: 1rem 0;
  border-right: 1px solid #e6ecf3;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.users {
  padding: 0;
}

.users .person {
  position: relative;
  width: 100%;
  padding: 10px 1rem;
  cursor: pointer;
  border-bottom: 1px solid #f0f4f8;
}

.users .person:hover {
  background-color: #ffffff;
  /* Fallback Color */
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#e9eff5),
    to(#ffffff)
  );
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(right, #e9eff5, #ffffff);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(right, #e9eff5, #ffffff);
  /* FF3.6 */
  background-image: -ms-linear-gradient(right, #e9eff5, #ffffff);
  /* IE10 */
  background-image: -o-linear-gradient(right, #e9eff5, #ffffff);
  /* Opera 11.10+ */
  background-image: linear-gradient(right, #e9eff5, #ffffff);
}

.users .person.active-user {
  background-color: #ffffff;
  /* Fallback Color */
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f7f9fb),
    to(#ffffff)
  );
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(right, #f7f9fb, #ffffff);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(right, #f7f9fb, #ffffff);
  /* FF3.6 */
  background-image: -ms-linear-gradient(right, #f7f9fb, #ffffff);
  /* IE10 */
  background-image: -o-linear-gradient(right, #f7f9fb, #ffffff);
  /* Opera 11.10+ */
  background-image: linear-gradient(right, #f7f9fb, #ffffff);
}

.users .person:last-child {
  border-bottom: 0;
}

.users .person .user {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.users .person .user img {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.users .person .user .status {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #e6ecf3;
  position: absolute;
  top: 0;
  right: 0;
}

.users .person .user .status.online {
  background: #9ec94a;
}

.users .person .user .status.offline {
  background: #c4d2e2;
}

.users .person .user .status.away {
  background: #f9be52;
}

.users .person .user .status.busy {
  background: #fd7274;
}

.users .person p.name-time {
  font-weight: 600;
  font-size: 0.85rem;
  display: inline-block;
}

.users .person p.name-time .time {
  font-weight: 400;
  font-size: 0.7rem;
  text-align: right;
  color: #8796af;
}

@media (max-width: 767px) {
  .users .person .user img {
    width: 30px;
    height: 30px;
  }
  .users .person p.name-time {
    display: none;
  }
  .users .person p.name-time .time {
    display: none;
  }
}

/************************************************
	************************************************
									Chat right side
	************************************************
************************************************/
li.chat-right {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
li.chat-left {
  display: flex;
  flex-direction: column;
}

.chat-infor-right {
  display: flex;
  justify-content: flex-end;
}
.chat-infor-left {
  display: flex;
}

.selected-user {
  width: 100%;
  padding: 0 15px;
  min-height: 64px;
  line-height: 64px;
  border-bottom: 1px solid #e6ecf3;
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}

.selected-user span {
  line-height: 100%;
}

.selected-user span.name {
  font-weight: 700;
}

.chat-container {
  position: relative;
}

.chat-container li.chat-left,
.chat-container li.chat-right {
  margin-bottom: 20px;
}
.chat-container li.chat-right {
  padding-right: 20px;
}

.chat-infor-right, .chat-infor-left {
  display: flex;
  align-items: center;
  gap:16px;
}
.chat-container li .chat-avatar {
  width: 48px;
  height: 48px;
  border-radius: 30px;
}

.chat-container li.chat-right > .chat-avatar {
  margin-left: 20px;
  margin-right: 0;
}
.chat-container li.chat-left > .chat-avatar {
  margin-left: 0;
}

.chat-container li .chat-name {
  font-size: 0.75rem;
  color: #999999;
  text-align: center;
}

.chat-container li .chat-text {
  padding: 0.4rem 1rem;
  border-radius: 4px;
  background-color: pink;
  font-weight: 300;
  line-height: 150%;
  position: relative;
}


.box-chat-image-right {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 16px;
  flex-wrap: wrap;
  margin-left: 320px;
  width: 380px;
}

.chat-image-right {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border: 1px solid #333;
}

.box-chat-image-left {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  flex-wrap: wrap;
  width: 380px;
}

.chat-image-left {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border: 1px solid #333;
}

.chat-box.chatContainerScroll {
  max-height: 450px;
  overflow-y: auto;
  padding-left: 0;
}

/* styles.css */
#typing-indicator {
  font-size: 20px;
  color: rgb(10, 10, 10);
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.show > #typing-indicator {
  display: inline;
  opacity: 1;
  animation: blink 1.5s infinite;
  font-size: 50px;
  font-weight: 600;
}

.show-typing:not(.show) {
  display: none;
  opacity: 0;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tooltip {
  visibility: hidden;
}

.tooltip.shown {
  visibility: visible;
  opacity: 1;
}

.custom-file-container {
  height: auto !important;
}
.label-container, .input-visible, .input-container {
  display: none !important;
}
.image-preview-item {
  height: 60px !important;
  width: 60px !important;
}
.image-preview {
  height: auto !important;
  padding: 0px !important;
}