extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug
block main 
  .container.my-5
    .row.d-flex.justify-content-center
      .col-6
        div.text-center
          +box-head(pageTitle)
        form(action="/user/register" method="POST" class="d-flex flex-column")
          div
            div(class="form-group mt-3 mb-3") 
              label(for="fullName" class="form-label") Họ và tên 
              input(type="text" name="fullName" id="fullName" class="form-control") 
            div(class="form-group mt-3 mb-3") 
              label(for="email" class="form-label") Email
              input(type="text" name="email" id="email" class="form-control") 
            div(class="form-group mt-3 mb-3") 
              label(for="password" class="form-label") Mật khẩu
              input(type="password" name="password" id="password" class="form-control") 
          div.d-flex.justify-content-center
            button(type="submit" class="btn btn-success") Đăng ký

