header.header 
  .container-fluid 
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="") ADMIN 
      .col-9.d-flex.justify-content-end
        a(class="btn btn-secondary" href=`${prefixAdmin}/auth/logout`) Đăng xuất